

/* PersonalArea.css */
.personal-area-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.personal-area-card {
    /* padding: 2rem; */
    height: 600px;
}

.p-field {
    margin-bottom: 1.5rem;
}

.p-field label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.p-field .p-avatar {
    margin-bottom: 1.5rem;
    height: 150px;
    width: 150px;
}

